body {
    background-color: #00162f;
    background-image: url("../images/theater2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.h1, label {
    color: white;
}

.title-text {
    color: white;
}

.makeMeGo:hover {
    cursor: pointer;
}

hr {
    color: white;
}

#gif-view .card-body,
#favGifs .card-body {
    height: 90px;
    position: relative;
}

#fav-tag:hover,
a:hover {
    background: #428bca;
    color: white;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

#fav-tag {
    display: block;
    width: 5rem;
    border: 1px solid #428bca;
    border-radius: 3px;
    position: absolute;
    left: 1rem;
    margin-bottom: 2rem;
}

a {
    text-decoration: none;
    display: block;
    width: 5rem;
    border: 1px solid #428bca;
    border-radius: 3px;
    color: black;
    position: absolute;
    right: 1rem;
    margin-left: 1rem;
}

#del-tag:hover {
    background: red;
    color: white;
    cursor: pointer;
}

#del-tag {
    display: block;
    width: 5rem;
    border: 1px solid red;
    border-radius: 3px;
    position: absolute;
    left: 1rem;
    margin-bottom: 2rem;
}

.footer {
    background: #00162f;
    color: gray;
    font-size: smaller;
    text-align: center;
}

.warning {
    width: 80%;
    margin: auto;
}


