body {
    background-color: #00162f;
    background-image: url("../images/theater2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.h1, label {
    color: white;
}

.title-text {
    color: white;
}

.makeMeGo:hover {
    cursor: pointer;
}

hr {
    color: white;
}

#fav-tag:hover {
    background: #428bca;
    color: white;
    cursor: pointer;
}

#fav-tag {
    width: 5rem;
    border: 1px solid #428bca;
    border-radius: 5px;
    margin: auto;
}

#del-tag:hover {
    background: red;
    color: white;
    cursor: pointer;
}

#del-tag {
    width: 5rem;
    border: 1px solid red;
    border-radius: 5px;
    margin: auto;
}